header {
  background-color: #673ab7;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #673ab7;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
